
body {font-family: 'Roboto', sans-serif; background:#fff; height: 100%; }

a.more {background: #ffc11a none repeat scroll 0 0; border-bottom: 5px solid #dfa711; border-radius: 5px; color: #000; display: block; font-size: 17px; height: 47px; line-height: 44px; margin: 0 0 0;
    padding: 0 31px 0 14px; position: relative; transition: all 0.5s ease 0s;}
a.more:before {background: rgba(0, 0, 0, 0) url("../images/right-arrow.png") no-repeat scroll 0 0; content: ""; height: 15px; position: absolute; right: 11px; top: 15px; width: 10px;}
a.more:hover {background: #dfa711;}



ul {margin: 0; padding: 0; list-style: none;}
*{margin:0; padding:0;}
a:hover, a:focus {text-decoration: none;}  
.wrapper{position:relative; /* height: 5000px; */}
.clear {height: 100%;/* overflow: hidden; */}
header{ background: rgba(11, 28, 38, 0.6);border: medium none;height:103px;margin: 0 auto;/* overflow: hidden; */position: absolute;top: 0;width: 100%;}
.site-main  .header-logo{ background: rgba(0, 0, 0, 0) url("../images/shadow.png") no-repeat scroll center center / cover ;
    float: left;
    margin-left: -37px;
    min-height: 103px;
    padding: 15px 0 0 37px;
    width: 343px;}
.site-main .header-nav{float:left;margin-left:-56px; padding:37px 0 0;}
.site-main .header-nav img{display:none;}
.header-nav ul li {display: inline-block;margin-right: 33px;}
.header-nav ul li:last-child{margin-right:0;}
/* .header-nav  .mobile-trigger{  display: none;height: 30px;padding: 0;position: absolute;right: 20px;top: 22px;width: 30px;} */
.header nav .mobile-trigger span::before {content: "";display: inline-block;font-family: FontAwesome;font-size: 22px;text-rendering: auto;}

header nav a {font-family: 'Roboto', sans-serif;font-size:17px;color:#fff;text-transform: uppercase;}
.banner-img > img {margin: 0 auto;object-fit: cover;text-align: center;width: 100%;}
.social-bx {float: right; padding: 38px 0 0 0;}
.social-bx ul {float: left; list-style: none; margin: 0;}
.social-bx ul li {float: left;}
.social-bx ul.scl li {padding: 0 0 0 23px;}
.social-bx ul.user-br li {margin: 0 0 0 23px; position: relative;}
.social-bx ul.user-br {padding: 0 0 0 40px;}
.social-bx ul.user-br li:first-child:before {position: absolute; top: 9px; content: ""; left: 18px; background: url('../images/drop-arrow.png') no-repeat; width: 8px; height: 5px;}
.social-bx ul.user-br li:nth-child(2) {margin: 0 0 0 30px;}
.home-banner {background: url('../images/banner.png') no-repeat; min-height: 787px; width: 100%; background-size: cover;}
.home-banner .banner-txt {width: 660px; margin:  0 auto; text-align: center; padding: 23% 0 0;}
.home-banner .banner-txt .hdng-txt img{width:100%;}
.home-banner .banner-txt .title h1 {margin: 0; position: relative; color: #fff; font-size: 37px;}
.home-banner .banner-txt .title h1 span {color: #ffc11a;}
.home-banner .banner-txt .title h1:before {content: ""; background: #ffc11a; height: 2px; width: 62px; position: absolute; left: 0; top: 20px;}
.home-banner .banner-txt .title h1:after {content: ""; background: #ffc11a; height: 2px; width: 62px; position: absolute; right: 0; top: 22px;}
.home-banner .banner-txt .title {padding: 8px 0 0;}
.home-banner .banner-txt .more {width: 175px; height: 60px; line-height: 57px; color: #000; font-size: 18px; background: #ffc11a; display: block; margin: 25px auto 0; border-bottom: 5px solid #dfa711; text-transform: uppercase; border-radius: 5px; position: relative; padding: 0 10px 0 0; transition: all 0.5s ease;}
.home-banner .banner-txt a.more:before {position: absolute; right: 11px; top: 20px; width: 10px; height: 15px; content: "";}
.home-banner .banner-txt .more:hover {background: #dfa711;}
.catgry-box h2 {margin: 0 0 50px; font-family: 'Oswald', sans-serif; font-size: 60px; color: #fff;  text-transform: uppercase; text-align: center; }
.catgry-box h2 span {color: #ffc11a;}
.catgry-box {background: url('../images/thumb-box.png') no-repeat; background-size: cover; min-height: 780px; padding: 80px 0 0 0;}
.catgry-box .insd-cat .img img {width: 100%;}

.catgry-box .insd-cat .txt {background: #fff; min-height: 168px; padding: 18px 0 0 24px;}
.catgry-box .insd-cat .txt h3 {font-size: 26px; color: #000; margin: 0 0 5px; text-transform: uppercase; font}
.catgry-box .insd-cat .txt ul li {float:left; position:relative; padding:0 0 0 26px; margin:0 15px 0 0;}
.catgry-box .insd-cat .txt ul li:before {position: absolute; left: 0; top: 6px; background: url('../images/title-arro.jpg') no-repeat; width: 22px; height: 19px; content: "";} 
.catgry-box .insd-cat .txt ul li a {font-size: 20px; color: #000; transition: all 0.5s ease 0s;}
.catgry-box .insd-cat .txt ul {overflow: hidden; width: 100%;}
.catgry-box .insd-cat .txt a.more { background: #ffc11a none repeat scroll 0 0; border-bottom: 5px solid #dfa711; border-radius: 5px; color: #000; display: block; font-size: 17px; height: 47px; line-height: 44px; margin: 13px 0 0;
 padding: 0 31px 0 14px; position: relative; transition: all 0.5s ease 0s; float: left;} 
 .catgry-box .insd-cat .txt a.more:before {  background: rgba(0, 0, 0, 0) url("../images/right-arrow.png") no-repeat scroll 0 0; content: ""; height: 15px; position: absolute; right: 11px; top: 15px; width: 10px;} 
 .catgry-box .insd-cat .txt ul li a:hover {color: #ffc11a;}
 .catgry-box .insd-cat .txt a.more:hover {background: #dfa711;} 
.game-box {background: url('../images/bg2.jpg') no-repeat; min-height: 615px; background-size: cover; padding: 90px 0 0;}
.game-box h1 { color: #fff; font-family: "Oswald",sans-serif; font-size: 60px; margin: 0 0 17px; text-align: left; text-transform: uppercase;  text-shadow: 0 1px 1px #000;}
.game-box h1 span {color: #ffc11a; display: block;}
.game-box p {margin: 0; font-size: 26px; color: #fff; font-weight:300; margin: 0 0 20px; }
.game-box a.more {float: left;}
.game-box .insd-gm {position: relative; background: #3b597d;}
.game-box .insd-gm .overLay {position: absolute; top: 8px; left: 8px; text-align: center; height: 100%;  width: 100%;transform: scale(0); padding: 38% 0 0 0; transition: all 0.5s ease 0s; background: rgba(0,0,0,0.5);}
.game-box .insd-gm .overLay h2 {font-size: 37px; color: #fff; margin: 0 0 15px; font-weight: 400; padding: 3px 7px 5px; display: inline-block;  border: 1px solid #fff;}
.game-box .insd-gm .overLay h3 {font-size: 22px; color: #fff; padding: 0 26px; margin: 0 0 15px;}
.game-box .insd-gm img { left: 8px; position: relative; top: 8px; width: 100%;}
.game-box .insd-gm .overLay a.more {float: none; display: inline-block; padding: 0 38px 0 28px;}
.game-box .insd-gm:hover .overLay {transform: scale(1);}
.popular-box {background: url('../images/jungle.jpg') no-repeat; min-height: 1137px; background-size: cover; padding: 64px 0 0 0;}
.popular-box h2 {color: #fff; font-family: "Oswald",sans-serif; font-size: 72px; margin: 0 0 40px; text-align: center;
    text-transform: uppercase;}
.popular-box h2 span {color: #ffc11a; display: block;}
.popular-box .thumb-box {overflow: hidden;}
.popular-box .thumb-box .left {width: 45%; float: left;}
.popular-box .thumb-box .left ul {float: left;}
.popular-box .thumb-box .left ul li {  border: 3px solid transparent; float: left; position: relative; transition: all 0.5s ease 0s; }
.popular-box .thumb-box .left ul li .insd-thumb {position: relative;}
.popular-box .thumb-box .left ul li .insd-thumb .txt {position: absolute; left: 0; top:0; width: 100%; height: 100%; text-align: center; padding: 35% 0 0 0; transform: scale(0); padding: 38% 0 0 0; transition: all 0.5s ease 0s; background: rgba(0,0,0,0.5);}
.popular-box .thumb-box .left ul li .insd-thumb .txt h3 {margin: 0; color: #fff; font-size: 26px; padding: 0 46px; text-transform: uppercase; font-weight: 400; }
.popular-box .thumb-box .left ul li:hover .txt {transform: scale(1);}
.popular-box .thumb-box .left ul li:hover { border: 3px solid #ffc52a;}
.popular-box .thumb-box .right {float: left; width: 55%;  margin: 0 0 0 -4px;}
.popular-box .thumb-box .right img {width: 100%;}
.popular-box .thumb-box .right .img-bx {border: 3px solid transparent; transition: all 0.5s ease 0s; position: relative;}
.popular-box .thumb-box .right .img-bx:hover {border: 3px solid #ffc52a;}
.popular-box .thumb-box .right .img-bx .txt {position: absolute; left: 0; bottom: 0; min-height: 136px; background: #040404; width: 100%; text-align: center; transition: all 0.4s ease 0s; border-top: 3px solid transparent;}
.popular-box .thumb-box .right .img-bx .txt a {display: block; color: #fff; font-size: 26px; 
    text-transform: uppercase; padding: 29px 0 0;}
.popular-box .thumb-box .right .img-bx .txt a span {display: block; text-transform: none;}
.popular-box .thumb-box .right .img-bx:hover .txt {border-top: 3px solid #ffc52a;} 
.video-box {background: url('../images/video-bg.png') no-repeat; background-size:cover; width: 100%; padding: 76px 0 0 0; }
.video-box .video-br {border: 1px solid #c0c2c6; width: 90%;}
.video-box .video-br img {width: 100%; position: relative; left: 18px; top: 18px;}
.video-box .video-br a {display: block; position: absolute; left: 50%; top: 50%; width: 90px; height: 90px; margin-left:-75px; margin-top:-45px; }
.video-box .video-br a img {width: auto;}
.video-box  {min-height: 672px; }
.video-box .txt {text-align: center; padding: 33px 0 0;}
.video-box .txt h1 {color: #fff; font-family: "Oswald",sans-serif; font-size: 60px; margin: 0 0 20px; text-align: center;
text-transform: uppercase;}
.video-box .txt h1 span {color: #ffc11a; display: block;}
.video-box .txt p {font-size: 26px; color: #fff; font-weight: 300; }
.trending-area{background:#354962;padding:55px 0 0 0;}
.trending-area .left{width:52%;float:left;}
.trending-area .right{width:45%;float:left;text-align: center; margin-left: 29px;}
.trending-area .right img{width:100%;}
.trending-area .left h2{ font-family: "Oswald",sans-serif;color:#fff;font-size:60px;text-transform: uppercase; margin-bottom:32px;margin-top: 0;}
.trending-area .left h2 span{ color: #ffc11a;}
.trending-area .right h2{ font-family: "Oswald",sans-serif;color:#fff;font-size:60px;text-transform: uppercase; margin-bottom:32px;margin-top: 0;}
.trending-area .right h2 span{ color: #ffc11a;}
.trending-area .left .inner-content .trivia-text{margin-bottom:41px;}
.trending-area .left .inner-content{border-right:1px solid #263447;}
.trending-area .left .inner-content .trivia-text img{ float: left;}
.trending-area .left .inner-content .trivia-text .brain-text{float:left; margin-left: 23px; width: 55%;}
.trending-area .left .inner-content .trivia-text .brain-text h2{font-size:26px;color:#fff; font-weight: normal; text-transform: none; margin-bottom: 11px;}
.trending-area .left .inner-content .trivia-text .brain-text p{font-size:18px;color:#fff; font-weight: 300;line-height: 19px;}
.trending-area .left .inner-content .trivia-text .brain-text .more{display: inline-block;float: left;}
footer .footer-content{background:#0a0e13;padding:38px 0 53px 0; }
footer .footer-content .listing ul{margin:0;padding: 12px 0;text-align: center;}
footer .footer-content .listing ul li{list-style-type:none;display:inline-block;margin-right: 16px;border-right:1px solid #6886ac;padding-right: 16px;}
footer .footer-content .listing ul li:last-child{margin-right:0;border-right:none;}
footer .footer-content .listing ul li a{font-size:14px;color:#6886ac;}
footer .footer-content p{padding-top:12px;color:#6886ac;font-size: 14px;}
.footer-down{background:#1d2836;height:13px;}








@media all and (min-width: 320px) and (max-width: 480px)
{
.home-banner{min-height: 495px;}
.home-banner .banner-txt .title h1{  font-size: 21px;}
.catgry-box h2{font-size: 40px;}
.game-box h1, .video-box .txt h1, .trending-area .right h2{font-size: 36px;}
.popular-box h2{font-size: 32px;}
.popular-box h2 span{display: inline-block;}
.trending-area .left h2{ font-size: 40px;}
.game-box .insd-gm img, .game-box .insd-gm .overLay{left:0;}
.game-box h1 span, .video-box .txt h1 span{ display: inline-block;}
.game-box{  padding: 50px 0;}
.game-box .insd-gm{margin-top: 20px;}
.game-box p, .video-box .txt p{font-size: 18px;}
.catgry-box .insd-cat .txt{ min-height:220px;}
.catgry-box .insd-cat .txt h3{ font-size: 19px;}
.catgry-box{ padding: 55px 0;}
.popular-box .thumb-box .right .img-bx .txt a{ font-size: 17px;}
footer .footer-content .listing ul li{ margin-right: 1px;padding-right: 5px;}
footer .footer-content p{text-align:center;}
.home-banner .banner-tx{padding: 60% 0 0;}
.trending-area{  padding: 35px 0 50px;}
}
@media all and (min-width:481px) and (max-width:767px)
{
.home-banner .banner-txt .title h1{ font-size: 27px;}
.home-banner{   min-height:735px;}
.catgry-box, .game-box, .video-box{  padding: 50px 0;}

.game-box .insd-gm{ margin-top: 20px;background:none;}
.game-box .insd-gm img, .game-box .insd-gm .overLay{left:0;}
.game-box p{ font-size: 22px;}
.popular-box h2{ font-size: 48px;}
.catgry-box .insd-cat .txt{ min-height: 200px;}
.game-box h1 span, .popular-box h2 span, .video-box .txt h1 span{display: inline;}
.catgry-box h2, .game-box h1, .video-box .txt h1, .trending-area .right h2{font-size: 50px}
.video-box .txt p{ font-size: 18px;}
footer .footer-content .listing ul li{  margin-right: 12px;}
footer .footer-content p{text-align:center;}
.home-banner .banner-tx{padding: 37% 0 0;}
}

@media all and (min-width:768px) and (max-width:1024px)
{
header nav a{font-size: 12px;}
.social-bx ul.scl li, .social-bx ul.user-br li{padding: 0 0 0 8px;}
.social-bx ul.user-br{padding:0}
.game-box h1{ font-size: 26px;}
.social-bx ul.user-br li{margin:0;}
.game-box p{ font-size: 18px;}
.game-box .insd-gm .overLay{  padding: 20% 0 0;}
.game-box .insd-gm .overLay h3{font-size: 17px;}
.game-box .insd-gm .overLay h2{ font-size: 28px;}
.game-box{min-height: 381px;padding: 50px 0;}
.catgry-box{  min-height: 615px;padding: 50px 0;}
.catgry-box .insd-cat .txt ul li, .popular-box .thumb-box .left, .popular-box .thumb-box .right{width:100%;}
.catgry-box .insd-cat .txt{ min-height: 225px;}
.trending-area .left .inner-content .trivia-text .brain-text, .insd-thumb > img{width:100%;}
.game-box h1 span, .popular-box h2 span, .video-box .txt h1 span{ display: inline;}
.popular-box .thumb-box .left ul li{width:50%;}
.video-box .txt p{ font-size: 16px;}
.popular-box h2, .catgry-box h2, .trending-area .left h2, .trending-area .right h2{ font-size: 40px;}
.video-box{ padding: 76px 0 0;min-height: 454px;}
.trending-area .left .inner-content .trivia-text .brain-text{margin-left:0;margin-top:10px;}
.social-bx ul.user-br li:nth-child(2){margin:0;}
.popular-box .thumb-box .right{margin-left:0;}
footer .footer-content .listing ul li{margin-right: 10px;padding-right: 10px;}
.footer-content a img{width:100%;}
.video-box .txt h1{font-size: 34px}
footer .footer-content .listing ul{padding: 8px 0;}
footer .footer-content p{  padding-top: 8px;}
.trending-area .left{ width: 49%;}
.trending-area{padding: 50px 0;}
.trending-area .left, .trending-area .right{   width: 100%;}
.trending-area .right{margin-left:0;}
.trending-area .right{padding-top: 50px;}
.trending-area .left .inner-content{border-right:0;}
.trending-area .left{padding-bottom:25px;border-bottom: 1px solid #263447;}
.trending-area .inner-content .trivia-text.clearfix {
    float: left;
    margin-right: 0;
    width: 33.3%;
}
}
@media all and (min-width: 320px) and (max-width: 767px)
{
.header-nav ul{display:none;}
.site-main .header-nav img{display:block;}
/* .header-nav .mobile-trigger{display:block} */
.header-nav ul li{display:block;margin-right:0;}
header nav a{color:#000;}
/* header nav .mobile-trigger span::before {content: "";display: inline-block;font-family: FontAwesome;font-size: 22px;text-rendering: auto;} */
.header-nav ul {background: #fff none repeat scroll 0 0;display: none;left: 0;position: absolute;top:105px;width: 100%;
    z-index: 99;}
header nav ul li a{ display: block;font-weight: 300;padding: 10px 15px; border-bottom: 1px solid #ddd; font-size: 15px;}
.popular-box .thumb-box .left, .popular-box .thumb-box .right, .trending-area .left, .trending-area .right, .trending-area .left .inner-content .trivia-text .brain-text{width:100%;}
.site-main .header-nav{float:right;}
.home-banner .banner-txt{width:85%;padding:60% 0 0;}
.trending-area .right, .popular-box .thumb-box .right{margin-left:0;}
.home-banner .banner-txt .title h1::after, .home-banner .banner-txt .title h1::before{background:none;}
.popular-box .thumb-box .left ul li img{width:100%;}
.popular-box .thumb-box .left ul li{ margin-bottom: 20px;width: 100%;}
.trending-area .left .inner-content .trivia-text .brain-text{margin-left:0; margin-top: 10px;}
.trending-area .left .inner-content{border-right:none;}
.trending-area .left .inner-content .trivia-text, .trending-area .left h2{text-align:center}
footer .footer-content{text-align:center;}
.trending-area .left .inner-content .trivia-text img, .trending-area .left .inner-content .trivia-text .brain-text .more{float:none;}
.catgry-box .insd-cat.spacing{ margin-top: 40px;}
}